*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-banner h2 {
    font-size: 50px;
}

p {
    color: dimgray;
}

.name {
    color: #FFA500;
}

.half-section {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}

.half-section img {
    width: 100%;
}

.top-banner {
    background: url("../images/top-banner.png") no-repeat;
}

section {
    height: 500px;
    margin-bottom: 40px;
}

.link-button {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 700;
}

.half-section p {
    margin-bottom: 20px;
}

.half-middle {
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    width: 40%;
    
}

.half-middle h3{
    font-size: 40px;
}

.half-middle img{
    width: 100%;
}
.half-middle p {
    margin-bottom: 20px;
    
}

.middle-content {
    background: url("../images/dream-bg.png") no-repeat right;
}

.orange-color {
    color: #FFA500;
}

.single-content {
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 10px;
    height: 70%;
    background: #fff;
}

.half-section h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.half-section p {
    margin-top: 15px;
    text-align: justify;
    margin-right: 20px;
}

.experience-section {
    background: url("../images/exp-bg.png") no-repeat left;
}

#left-content {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}

#right-content {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}